### Create and modify sqllite3 database to manage eurofins sequencing results
> Database can be manually modified, browsed, etc. through SQLLiteManager

In [1]:
from IPython.display import HTML, display
import sqlite3
conn = sqlite3.connect('SeqDB.db')
c = conn.cursor()

In [2]:
def printall():
    c.execute("SELECT * FROM SeqInfo ORDER BY date, gene,id, barcode")
    columnnames = tuple([member[0] for member in c.description]);
    seqdata = c.fetchall();
    seqdata.insert(0,columnnames)
    display(HTML(
    '<table><tr>{}</tr></table>'.format(
        '</tr><tr>'.join(
            '<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in seqdata)
                    )
                 )
           )

def recreatetable():
    c.execute('DROP TABLE SeqInfo')
    c.execute('''CREATE TABLE SeqInfo(
            gene text,
            id text,
            barcode text,
            primer text,
            DNAqspec numeric,
            date date,
            sequenced boolean,
            expectation text,
            results text,
            notes);''')

#### Create table (only runs once to create database)
> c.execute('''CREATE TABLE SeqInfo(gene text,
id text,
barcode text,
primer text,
DNAqspec numeric,
date date,
sequenced boolean,
expectation text
results text);''')

#### Insert a new row of data
> c.execute('''INSERT INTO SeqInfo VALUES (
              'cadm1a', 
              '3C', 
              'AWT000', 
              '2017-04-24',
              1,
              'not mutant')''')

In [3]:
############ recreatetable();

In [ ]:
# Insert a new row of data
# c.execute('''INSERT INTO SeqInfo VALUES (
#              'cadm1a', 
#              '3H',
#              'ANW091',
#              'FWD',
#              23.6,
#              '2017-04-04',
#              1,
#              '+26bp?',
#              'not mutant',
#              '')''')

In [4]:
# Insert a new row of data (if commented, already added)
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','3.H','ANW091','Fwd',23.6,'2017-04-04',1,'deletion','not mutant','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','5.F','ANW090','Fwd',25.2,'2017-04-04',1,'+26bp','not mutant','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','4.wt','ANW089','Fwd',21.3,'2017-04-04',1,'wt','wt','')''')
# missing values in between HERE
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','10.E','AMT236','Fwd',29.8,'2017-05-24',1,'-10bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','10.F','AMT237','Fwd',27.0,'2017-05-24',1,'+3bp','-8bp!!!','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','10.wt','AMT238','Fwd',NULL,'2017-05-24',1,'wt','normal','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('cadm1a','11.C','AMT239','Fwd',26.9,'2017-05-24',1,'-11bp','bad seq','')''')

c.execute('''INSERT INTO SeqInfo VALUES ('cadm1b','11.D','AMT245','Rev',26.1,'2017-05-24',1,'-12bp','bad seq','')''')

c.execute('''INSERT INTO SeqInfo VALUES ('tjp2a','7.B','AMT228','Rev',9.9,'2017-05-24',1,'+5bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2a','9.B','AMT229','Rev',14.1,'2017-05-24',1,'+10bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2a','9.H','AMT230','Rev',15.4,'2017-05-24',1,'-2bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2a','8.E','AMT231','Rev',10,'2017-05-24',1,'-6bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2a','8.F','AMT232','Rev',8.7,'2017-05-24',1,'-6bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2a','8.G','AMT233','Rev',NULL,'2017-05-24',1,'+11bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2a','8.wt','AMT235','Rev',NULL,'2017-05-24',1,'wt','bad seq','')''')

c.execute('''INSERT INTO SeqInfo VALUES ('tjp2b','8.H','AMT234','Rev',NULL,'2017-05-24',1,'+28bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2b','9.C','AMT240','Rev',26.9,'2017-05-24',1,'+5bp','mutant (hard to describe)','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2b','9.D','AMT241','Rev',NULL,'2017-05-24',1,'-45bp','-46bp!!!','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2b','9.E','AMT242','Rev',NULL,'2017-05-24',1,'-12bp','-13bp!!!','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2b','9.F','AMT243','Rev',NULL,'2017-05-24',1,'+5bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('tjp2b','9.wt','AMT244','Rev',23.5,'2017-05-24',1,'wt','wt','')''')

c.execute('''INSERT INTO SeqInfo VALUES ('nrxn3aL','7.G','AMT246','Rev',21.5,'2017-05-24',1,'-1or2bp','bad seq','')''')
c.execute('''INSERT INTO SeqInfo VALUES ('nrxn3aL','7.wt','AMT247','Rev',26.2,'2017-05-24',1,'wt','bad seq','')''')

In [5]:
conn.commit();
printall();

In [6]:
conn.close();

In [ ]:
# delete database and restart from scratch
# # # # # # # #  c.execute('DROP TABLE SeqInfo')