DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [5]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + '\n (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 72, #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                     }
        self.Tm = tested_Tms.get(self.name, 'default')
# NORMAL Phusion
# volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
# MASTER MIX Phusion
volumes  = [5, 1, 1, 1, 10];
names = ['Water','FWD','REV','M13-FAM','PhusionMix2x'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [6]:
genes=[];
genes.append(gene('tjp2a',('14')));
genes.append(gene('tjp2b',('14')));
genes.append(gene('cadm1a',('16, 17')));
genes.append(gene('cadm1b',('16, 17')));
genes.append(gene('nrxn3aL',('17')));
genes.append(gene('nrxn3bL',('17')));

# genes.append(gene('tjp2b',('8, 9, 11')));
# genes.append(gene('cadm1a',('10, 11, 12')));
# genes.append(gene('cpne3',('11')));

In [3]:
# test PCR (half-volume reactions, no M13-FAM)

# NORMAL Phusion half-volume
# volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
# volumes=np.ndarray.tolist(np.divide(volumes,2))
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

# MASTER MIX Phusion half-volume
# volumes  = [6, 1, 1, 10];
# volumes=np.ndarray.tolist(np.multiply(volumes,3/4))
# names = ['Water','FWD','REV','PhusionMix2x'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);


# genes=[];
# genes.append(gene('cadm1a',('11C')));
# genes.append(gene('cadm1b',('11D')));
# genes.append(gene('tjp2a',('7B,7G,7H,8A,8E,8F,8G,8H,9B,11D,11F,12F,12G')));
# genes.append(gene('nrxn3aL',('7F,FG')));


# PCR = pd.DataFrame.copy(PhusionDefault)
# for g in genes:
#     PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*1*1.05),1))
# PCR.columns.name = '-'
# PCR

-,1x,cadm1a (n=1),cadm1b (n=1),tjp2a (n=13),nrxn3aL (n=2)
Water,4.50,4.950,4.950,61.650,9.450
FWD,0.75,0.825,0.825,10.275,1.575
REV,0.75,0.825,0.825,10.275,1.575
PhusionMix2x,7.50,8.250,8.250,102.750,15.750

In [10]:
volumes

[4.5, 0.75, 0.75, 7.5]

In [7]:
# PCR table for fragment analysis screen (8 larvae per founder)
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.05),1))
PCR.columns.name = '-'
PCR

-,1x,tjp2a (n=1),tjp2b (n=1),cadm1a (n=2),cadm1b (n=2),nrxn3aL (n=1),nrxn3bL (n=1)
Water,5,42.0,42.0,84.0,84.0,42.0,42.0
FWD,1,8.4,8.4,16.8,16.8,8.4,8.4
REV,1,8.4,8.4,16.8,16.8,8.4,8.4
M13-FAM,1,8.4,8.4,16.8,16.8,8.4,8.4
PhusionMix2x,10,84.0,84.0,168.0,168.0,84.0,84.0

In [8]:
names = [];
ids = [];
tms = [];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)

IDs = pd.DataFrame({'id#': ids, 'Tm (°C)' : tms}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (°C)']]
IDs

gene     Tm (°C)     id#
tjp2a         72      14
tjp2b         64      14
cadm1a        64  16, 17
cadm1b        67  16, 17
nrxn3aL       72      17
nrxn3bL       72      17

In [9]:
#Need to create html output into a letter sized
PCR.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>-</th>\n      <th>1x</th>\n      <th>tjp2a\n (n=1)</th>\n      <th>tjp2b\n (n=1)</th>\n      <th>cadm1a\n (n=2)</th>\n      <th>cadm1b\n (n=2)</th>\n      <th>nrxn3aL\n (n=1)</th>\n      <th>nrxn3bL\n (n=1)</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Water</th>\n      <td>5</td>\n      <td>42.0</td>\n      <td>42.0</td>\n      <td>84.0</td>\n      <td>84.0</td>\n      <td>42.0</td>\n      <td>42.0</td>\n    </tr>\n    <tr>\n      <th>FWD</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>REV</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>M13-FAM</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>PhusionMix2x</th>\n      <td>10</td>\n      <td>84.0</td>\n      <td>84.0</td>\n      <td>168.0</td>\n      <td>168.0</td>\n      <td>84.0</td>\n      <td>84.0</td>\n    </tr>\n  </tbody>\n</table>'

In [10]:
IDs.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>gene</th>\n      <th>Tm (°C)</th>\n      <th>id#</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>tjp2a</th>\n      <td>72</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>tjp2b</th>\n      <td>64</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>cadm1a</th>\n      <td>64</td>\n      <td>16, 17</td>\n    </tr>\n    <tr>\n      <th>cadm1b</th>\n      <td>67</td>\n      <td>16, 17</td>\n    </tr>\n    <tr>\n      <th>nrxn3aL</th>\n      <td>72</td>\n      <td>17</td>\n    </tr>\n    <tr>\n      <th>nrxn3bL</th>\n      <td>72</td>\n      <td>17</td>\n    </tr>\n  </tbody>\n</table>'

In [5]:
a=np.arange(9,16)
print(a)

[ 9 10 11 12 13 14 15]

In [6]:
np.arange?