DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [117]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + '\n (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 58, #inconsistent results here. Should order new primers
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                     }
        self.Tm = tested_Tms.get(self.name, 'default')

volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [120]:
genes=[];
genes.append(gene('nrxn3aS',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3aL',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3bS',('2, 3, 4, 6, 7, 8')));
genes.append(gene('nrxn3bL',('2, 3, 4, 6, 7, 8')));
genes.append(gene('tjp2a',('8, 9, 11, 6')));
genes.append(gene('tjp2b',('8, 9, 11')));
genes.append(gene('cadm1a',('10, 11, 12')));
genes.append(gene('cpne3',('11')));

In [121]:
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.1),1))

PCR.rename_axis('_')
PCR

,1x,nrxn3aS (n=6),nrxn3aL (n=6),nrxn3bS (n=6),nrxn3bL (n=6),tjp2a (n=4),tjp2b (n=3),cadm1a (n=3),cpne3 (n=1)
Water,10.4,549.12,549.12,549.12,549.12,366.08,274.56,274.56,91.52
Buffer5x,4.0,211.20,211.20,211.20,211.20,140.80,105.60,105.60,35.20
dNTP mix,0.4,21.12,21.12,21.12,21.12,14.08,10.56,10.56,3.52
FWD,1.0,52.80,52.80,52.80,52.80,35.20,26.40,26.40,8.80
REV,1.0,52.80,52.80,52.80,52.80,35.20,26.40,26.40,8.80
M13-FAM,1.0,52.80,52.80,52.80,52.80,35.20,26.40,26.40,8.80
Phusion,0.2,10.56,10.56,10.56,10.56,7.04,5.28,5.28,1.76

In [110]:
#Need to create html output into a letter sized
PCR.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1x</th>\n      <th>nrxn3aS\n (n=6)</th>\n      <th>nrxn3aL\n (n=6)</th>\n      <th>nrxn3bS\n (n=6)</th>\n      <th>nrxn3bL\n (n=6)</th>\n      <th>tjp2a\n (n=4)</th>\n      <th>tjp2b\n (n=3)</th>\n      <th>cpne3\n (n=1)</th>\n      <th>cadm1a\n (n=3)</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Water</th>\n      <td>10.4</td>\n      <td>549.12</td>\n      <td>549.12</td>\n      <td>549.12</td>\n      <td>549.12</td>\n      <td>366.08</td>\n      <td>274.56</td>\n      <td>91.52</td>\n      <td>274.56</td>\n    </tr>\n    <tr>\n      <th>Buffer5x</th>\n      <td>4.0</td>\n      <td>211.20</td>\n      <td>211.20</td>\n      <td>211.20</td>\n      <td>211.20</td>\n      <td>140.80</td>\n      <td>105.60</td>\n      <td>35.20</td>\n      <td>105.60</td>\n    </tr>\n    <tr>\n      <th>dNTP mix</th>\n      <td>0.4</td>\n      <td>21.12</td>\n      <td>21.12</td>\n      <td>21.12</td>\n      <td>21.12</td>\n      <td>14.08</td>\n      <td>10.56</td>\n      <td>3.52</td>\n      <td>10.56</td>\n    </tr>\n    <tr>\n      <th>FWD</th>\n      <td>1.0</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>35.20</td>\n      <td>26.40</td>\n      <td>8.80</td>\n      <td>26.40</td>\n    </tr>\n    <tr>\n      <th>REV</th>\n      <td>1.0</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>35.20</td>\n      <td>26.40</td>\n      <td>8.80</td>\n      <td>26.40</td>\n    </tr>\n    <tr>\n      <th>M13-FAM</th>\n      <td>1.0</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>52.80</td>\n      <td>35.20</td>\n      <td>26.40</td>\n      <td>8.80</td>\n      <td>26.40</td>\n    </tr>\n    <tr>\n      <th>Phusion</th>\n      <td>0.2</td>\n      <td>10.56</td>\n      <td>10.56</td>\n      <td>10.56</td>\n      <td>10.56</td>\n      <td>7.04</td>\n      <td>5.28</td>\n      <td>1.76</td>\n      <td>5.28</td>\n    </tr>\n  </tbody>\n</table>'

In [86]:
names = [];
ids = [];
tms = [];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)

IDs = pd.DataFrame({'id#': ids, 'Tm (째C)' : tms}, index=names)
#IDs[['id#','Tm (째C)']]
IDs

         Tm (째C)               id#
nrxn3aS       72  6, 7, 8, 2, 3, 4
nrxn3aL       72           6, 7, 8
nrxn3bS       72  6, 7, 8, 2, 3, 4
nrxn3bL       72           6, 7, 8
tjp2a         58       8, 9, 11, 6
tjp2b         64          8, 9, 11
cpne3         67                11
cadm1a        64        10, 11, 12

In [ ]:
IDs.to_html()

6

6