### Setup for PCR for genotyping, fragment analysis, sequencing, etc.

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [4]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + ' (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 72, #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                      'eml1⼆': 72,
                      'cpne3⼆': 72,
                      'cpne3_sa9988': 67,
                      'eml1_sa14062': 66,
                      'nrxn3a_sa11330': 67,
                      'nrxn3b_sa36960': 66,
#                       'syt5a': 00, #F and R primers that don't work NEB Tm = 61; 2020/02/03: tested 59 & 67: no bands; 62: extremely faint band
                      'syt5a': 67, #Fii and Rii New primers: NEB Tm = 62; 2020/02/03: tested 59 & 67: no bands; 62: extremely faint band
                      'syt5b': 70, # NEB Tm_F = 74, Tm_R = 67
                      'gnat2': 67, #NEB Tm = 64; 2020/02/03: tested 62 and 67: both work;
                      'sema7a': 67, #NEB Tm = 62; 2020/02/03: tested 62 and 67: both work;
                      'efna1b': 70, #NEB Tm = 63; 2020/02/03: tested 59, 62 and 67: 3 extra bands at lower weight; tested 69: much cleaner
                      'tbx2a': 67, #NEB Tm = 59; Fi Ri primers
                      'tbx2a_FiRii': 69, # NEB Tm_F = 73, Tm_R = 68
                      'tbx2a_FiRiii': 70, # NEB Tm_F = 73, Tm_R = 68
                      'tbx2a_FiiRi': 67, # NEB Tm_F = 73, Tm_R = 68
                      'tbx2a_FiiRii': 69, # NEB Tm_F = 73, Tm_R = 68
                      'tbx2a_FiiRiii': 70, # NEB Tm_F = 73, Tm_R = 68
                      'tbx2b': 67, #NEB Tm = 61; 
                      'ntng2b': 67, #NEB Tm = 61; 
                      'foxq2' : 64, # tested and it works
                      'skor1a': 67, # this is for F2R2 or F1R2 (R1 perimer is bad); tested by Laura Dec_2021
                      'nr2f1b': 70, # NEB Tm_F = 73, Tm_R = 67 
                      'nr2e3': 67, # NEB Tm_F = 73, Tm_R = 67 
                      'xbp1': 67, # NEB Tm_F = 73, Tm_R = 68 tested by Laura Dec_2021
                      'lrrfip1a': 67, # tested by Laura Dec_2021
                      'sall1a': 67, # NEB Tm_F = 74, Tm_R = 67
                      'tgif': 67, # NEB Tm_F = 76, Tm_R = 66
                      'tefa': 67, # NEB Tm_F = 75, Tm_R = 67
                      'tefb': 67, # NEB Tm_F = 74, Tm_R = 67
                      'lhx1a': 67, # NEB Tm_F = 74, Tm_R = 65
                      'gal4': 64, #untested, without PIG and M13 it's 56
                      'gfp': 72, #untested, without PIG and M13 it's 70
                      'arr3a': 67, #untested, without PIG and M13 it's 60
                      'arr3b': 67, #untested, without PIG and M13 it's 60
                      'skor2': 64, #untested, without PIG and M13 it's 60
                      'myt1a': 64, #untested, without PIG and M13 it's 60
                     }
        self.Tm = tested_Tms.get(self.name, 'default')
        
        tested_seqPrimer = {
                        'tjp2a': 'none', #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                        'tjp2b': 'none' ,
                        'cadm1a': 'F',
                        'cadm1b': 'none',
                        'eml1': 'none',
                        'cpne3': 'none',
                        'nrxn3aS': 'none',
                        'nrxn3aL': 'none',
                        'nrxn3bS': 'none',
                        'nrxn3bL': 'none',
                        'eml1⼆': 'none',
                        'cpne3⼆': 'none',
                        'cpne3_sa9988': 'none',
                        'eml1_sa14062': 'none',
                        'nrxn3a_sa11330': 'R',
                        'nrxn3b_sa36960': 'none',
                        'syt5a':  'idk', # trying Fii (200/07/31)
                        'syt5b': 'idk', # 
                        'gnat2': 'idk',
                        'sema7a': 'idk', # trying F (200/07/31)
                        'efna1b': 'idk',
                        'tbx2a': 'F',
                        'tbx2b': 'R',
                        'ntng2': 'idk',
                        'foxq2': 'R', # tested on July2021
                        'skor1a': 'idk', # 
                        'nr2f1b': 'idk', #
                        'nr2e3': 'idk', #
                        'xbp1': 'idk', # 
                        'lrrfip1a': 'idk', # 
                        'sall1a': 'idk', # 
                        'tgif': 'idk', # 
                        'tefa': 'idk', # 
                        'tefb': 'idk', # 
                        'lhx1a': 'idk', #
                        'gal4': 'idk', #
                        'gfp': 'idk', #
                        'arr3a': 'idk', #
                        'arr3b': 'idk', #
                        'skor2': 'F', # untested
                        'myt1a': 'F', # 113 bp to gRNA; R could also work with 109 bp
                     }
        self.seqPrimer = tested_seqPrimer.get(self.name, 'default')
        
        expectedSize = {
                        'tjp2a': 'idk', #M13 and PIG seems to add 20bp in fragment analysis, so these values are PCR size + 20bp or value from fragment analysis
                        'tjp2b': 'idk' ,
                        'cadm1a': 'idk',
                        'cadm1b': 'idk',
                        'eml1': 'idk',
                        'cpne3': 'idk',
                        'nrxn3aS': 'idk',
                        'nrxn3aL': 'idk',
                        'nrxn3bS': 'idk',
                        'nrxn3bL': 'idk',
                        'eml1⼆': 'idk',
                        'cpne3⼆': 'idk',
                        'cpne3_sa9988': 'idk',
                        'eml1_sa14062': 'idk',
                        'nrxn3a_sa11330': 'idk',
                        'nrxn3b_sa36960': 'idk',
                        'syt5a':  'idk', 
                        'syt5b': 343,  
                        'gnat2': 'idk',
                        'sema7a': 358,
                        'efna1b': 'idk',
                        'tbx2a': 488,
                        'tbx2a_FiRii': 532,
                        'tbx2a_FiRiii': 578,
                        'tbx2a_FiiRi': 402,
                        'tbx2a_FiiRii': 452,
                        'tbx2a_FiiRiii': 498,
                        'tbx2b': 332,
                        'ntng2': 'idk',
                        'foxq2': 426, 
                        'skor1a': 349, #assuming F2R2
                        'nr2f1b': 412,
                        'nr2e3': 253,
                        'xbp1': 289,
                        'lrrfip1a': 281,
                        'sall1a': 179, # 
                        'tgif': 270, # 
                        'tefa': 322, # 
                        'tefb': 354, # 
                        'lhx1a': 375, #
                        'gal4': 204, #
                        'gfp': 204, #
                        'arr3a': 283, #
                        'arr3b': 465, #
                        'skor2': 460, #
                        'myt1a': 536, #
                     }
        self.expectedSize = expectedSize.get(self.name, 'default')

def array2list(thearray):
    d=(",".join(map(str,thearray)))
    return d
# NORMAL Phusion
# volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
# MASTER MIX Phusion
# volumes  = [5, 1, 1, 1, 10];
# MASTER MIX Phusion using Kate Pinter's ratios (May, 2021)
volumes  = [6.42, 0.316, 0.632, 0.632, 10];
volumes = np.append(volumes,np.sum(volumes)); alertString = "20 uL reaction for default PCR reactions";
volumes=np.ndarray.tolist(np.multiply(volumes,2/3));  alertString = "13 uL reaction for fragment analysis only";# for Fo-screen and no sequencing plans
names = ['Water','FWD','REV','M13-FAM','PhusionMix2x','Total'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

### test PCR (half-volume reactions, no M13-FAM)
### NORMAL Phusion half-volume
# volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
# volumes=np.ndarray.tolist(np.divide(volumes,2)); alertString = "10 uL reaction for gel-only dx";
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);
#### OR
### MASTER MIX Phusion three quarters-volume no M13-FAM
# volumes  = [6, 1, 1, 10];
# volumes=np.ndarray.tolist(np.multiply(volumes,3/4)); alertString = "13 uL reaction for gel-only dx or sequencing";
# volumes=np.ndarray.tolist(np.multiply(volumes,1/2)); alertString = "10 uL reaction for gel-only dx or sequencing";
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','FWD','REV','PhusionMix2x','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

# ### For sequencing
# volumes  = [6, 1, 1, 10];
# volumes=np.ndarray.tolist(np.multiply(volumes,1/2)); alertString = "10 uL reaction for sequencing only";
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','FWD','REV','PhusionMix2x','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

print('LOADED: ' + alertString)
# volumes

LOADED: 13 uL reaction for fragment analysis only

In [5]:

#######
genes=[];


# genes.append(gene('tbx2a',(array2list(np.arange(0,8*6)+1))));
# genes.append(gene('tbx2b',(array2list(np.arange(0,8*4)+1))));
# genes.append(gene('tgif',(array2list(np.arange(0,8)+1))));
# genes.append(gene('tefa',(array2list(np.arange(0,8)+1))));
# genes.append(gene('tefb',(array2list(np.arange(0,8)+1))));
# genes.append(gene('foxq2',(array2list(np.arange(0,26)+1))));
genes.append(gene('skor2',(array2list(np.arange(0,(8*6)+6)+1))));
genes.append(gene('myt1a',(array2list(np.arange(0,(8*5))+1))));
genes.append(gene('nr2e3',(array2list(np.arange(0,13)+1))));
genes.append(gene('nr2f1b',(array2list(np.arange(0,13)+1))));




# genes.append(gene('eml1ii',(array2list(np.arange(0,12,1)))));

PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = round(pd.Series(PCR['1x'] * (g.n*1*1.1)),2)
PCR.columns.name = '-'
PCR.round(decimals=2)

-                1x  skor2 (n=54)  myt1a (n=40)  nr2e3 (n=13)  nr2f1b (n=13)
Water          4.28        254.23        188.32         61.20          61.20
FWD            0.21         12.51          9.27          3.01           3.01
REV            0.42         25.03         18.54          6.03           6.03
M13-FAM        0.42         25.03         18.54          6.03           6.03
PhusionMix2x   6.67        396.00        293.33         95.33          95.33
Total         12.00        712.80        528.00        171.60         171.60

In [6]:
names = [];
ids = [];
tms = [];
seqPrimer =[];
expectedSize =[];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)
    seqPrimer.append(g.seqPrimer)
    expectedSize.append(g.expectedSize)

IDs = pd.DataFrame({'id#': ids, 'Tm (°C)' : tms, 'seqPrimer' : seqPrimer, 'expectedSize (bp)' : expectedSize}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (°C)']]
IDs

gene,id#,Tm (°C),seqPrimer,expectedSize (bp)
skor2,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...",64,F,460
myt1a,"1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,1...",64,F,536
nr2e3,"1,2,3,4,5,6,7,8,9,10,11,12,13",67,idk,253
nr2f1b,"1,2,3,4,5,6,7,8,9,10,11,12,13",70,idk,412

In [7]:
#
t = PCR.round(decimals=2).to_markdown()
t = t.replace('Total','   |\n| **Total**')
print(t)

|              |    1x |   skor2 (n=54) |   myt1a (n=40) |   nr2e3 (n=13) |   nr2f1b (n=13) |
|:-------------|------:|---------------:|---------------:|---------------:|----------------:|
| Water        |  4.28 |         254.23 |         188.32 |          61.2  |           61.2  |
| FWD          |  0.21 |          12.51 |           9.27 |           3.01 |            3.01 |
| REV          |  0.42 |          25.03 |          18.54 |           6.03 |            6.03 |
| M13-FAM      |  0.42 |          25.03 |          18.54 |           6.03 |            6.03 |
| PhusionMix2x |  6.67 |         396    |         293.33 |          95.33 |           95.33 |
|    |
| **Total**        | 12    |         712.8  |         528    |         171.6  |          171.6  |

In [8]:
print(IDs.to_markdown())

|        | id#                                                                                                                                                      |   Tm (°C) | seqPrimer   |   expectedSize (bp) |
|:-------|:---------------------------------------------------------------------------------------------------------------------------------------------------------|----------:|:------------|--------------------:|
| skor2  | 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54 |        64 | F           |                 460 |
| myt1a  | 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40                                           |        64 | F           |                 536 |
| nr2e3  | 1,2,3,4,5,6,7,8,9,10,11,12,13                                                                                                                            |        67 | idk         |                 253 |
| nr2f1b | 1,2,3,4,5,6,7,8,9,10,11,12,13                                                                                                                            |        70 | idk         |                 412 |

In [ ]:
64/4

In [6]:
48+32

80