### Setup for PCR for genotyping, fragment analysis, sequencing, etc.

In [13]:
# !pip install PyQt5 --upgrade

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [14]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + ' (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 72, #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                      'eml1⼆': 72,
                      'cpne3⼆': 72,
                      'cpne3_sa9988': 67,
                      'eml1_sa14062': 66,
                      'nrxn3a_sa11330': 67,
                      'nrxn3b_sa36960': 66,
#                       'syt5a': 00, #F and R primers that don't work NEB Tm = 61; 2020/02/03: tested 59 & 67: no bands; 62: extremely faint band
                      'syt5a': 67, #Fii and Rii New primers: NEB Tm = 62; 2020/02/03: tested 59 & 67: no bands; 62: extremely faint band
                      'gnat2': 67, #NEB Tm = 64; 2020/02/03: tested 62 and 67: both work;
                      'sema7a': 67, #NEB Tm = 62; 2020/02/03: tested 62 and 67: both work;
                      'efna1b': 70, #NEB Tm = 63; 2020/02/03: tested 59, 62 and 67: 3 extra bands at lower weight; tested 69: much cleaner
                      'tbx2a': 67, #NEB Tm = 59; 
                      'tbx2b': 67, #NEB Tm = 61; 
                      'ntng2b': 67, #NEB Tm = 61; 
                     }
                                    # 2020/06/26:  tested 62 and 67: only 62 has good bands; 67 had weak bands in some samples, but not all;
        self.Tm = tested_Tms.get(self.name, 'default')
        
        tested_seqPrimer = {'tjp2a': 'none', #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 'none' ,
                      'cadm1a': 'F',
                      'cadm1b': 'none',
                      'eml1': 'none',
                      'cpne3': 'none',
                      'nrxn3aS': 'none',
                      'nrxn3aL': 'none',
                      'nrxn3bS': 'none',
                      'nrxn3bL': 'none',
                      'eml1⼆': 'none',
                      'cpne3⼆': 'none',
                      'cpne3_sa9988': 'none',
                      'eml1_sa14062': 'none',
                      'nrxn3a_sa11330': 'R',
                      'nrxn3b_sa36960': 'none',
                      'syt5a':  'idk', # trying Fii (200/07/31)
                      'gnat2': 'idk',
                      'sema7a': 'idk', # trying F (200/07/31)
                      'efna1b': 'idk',
                      'tbx2a': 'idk',
                      'tbx2b': 'idk',
                      'ntng2': 'idk',
                     }
        self.seqPrimer = tested_seqPrimer.get(self.name, 'default')

def array2list(thearray):
    d=(",".join(map(str,thearray)))
    return d
# NORMAL Phusion
# volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
# MASTER MIX Phusion
volumes  = [5, 1, 1, 1, 10];
volumes = np.append(volumes,np.sum(volumes));
volumes=np.ndarray.tolist(np.multiply(volumes,2/3)); # for Fo-screen and no sequencing plans
names = ['Water','FWD','REV','M13-FAM','PhusionMix2x','Total'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

### test PCR (half-volume reactions, no M13-FAM)
### NORMAL Phusion half-volume
# volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
# volumes=np.ndarray.tolist(np.divide(volumes,2))
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);
# OR
### MASTER MIX Phusion three quarters-volume no M13-FAM
# volumes  = [6, 1, 1, 10];
# volumes=np.ndarray.tolist(np.multiply(volumes,3/4))
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','FWD','REV','PhusionMix2x','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [24]:
# ### For sequencing
# volumes  = [6, 1, 1, 10];
# volumes=np.ndarray.tolist(np.multiply(volumes,1/2))
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','FWD','REV','PhusionMix2x','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

# ### MASTER MIX Phusion three quarters-volume no M13-FAM
# volumes=np.ndarray.tolist(np.multiply(volumes,3/4))

### MASTER MIX Phusion half-volume no M13-FAM
# volumes=np.ndarray.tolist(np.multiply(volumes,1/2))
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','FWD','REV','PhusionMix2x','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

#######
genes=[];
# genes.append(gene('sema7a',array2list(np.arange(0,8*2,1))));
# genes.append(gene('gnat2',array2list(np.arange(0,8,1))));
# genes.append(gene('syt5a',array2list(np.arange(0,8*4,1))));
# genes.append(gene('efna1b',array2list(np.arange(0,8*3,1))));
# genes.append(gene('syt5a',array2list(np.arange(0,8*2,1))));

# genes.append(gene('eml1',(array2list(np.arange(0,16,1)))));
genes.append(gene('ntng2b',(array2list(np.arange(0,8*5,1)))));
genes.append(gene('tbx2a',(array2list(np.arange(0,8*6,1)))));
# genes.append(gene('tbx2b',(array2list(np.arange(0,8*4,1)))));

# genes.append(gene('eml1ii',(array2list(np.arange(0,12,1)))));

PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = round(pd.Series(PCR['1x'] * (g.n*1*1.1)),2)
PCR.columns.name = '-'
PCR.round(decimals=2)

-                1x  ntng2b (n=40)  tbx2a (n=48)
Water          3.33         146.67         176.0
FWD            0.67          29.33          35.2
REV            0.67          29.33          35.2
M13-FAM        0.67          29.33          35.2
PhusionMix2x   6.67         293.33         352.0
Total         12.00         528.00         633.6

In [16]:
# PCR table for fragment analysis screen (8 larvae per founder)
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.1),1))
PCR.columns.name = '-'
PCR.round(decimals=2)

-                    1x  ntng2b (n=40)  tbx2a (n=48)
Water          3.333333    1173.333333        1408.0
FWD            0.666667     234.666667         281.6
REV            0.666667     234.666667         281.6
M13-FAM        0.666667     234.666667         281.6
PhusionMix2x   6.666667    2346.666667        2816.0
Total         12.000000    4224.000000        5068.8

In [17]:
names = [];
ids = [];
tms = [];
seqPrimer =[];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)
    seqPrimer.append(g.seqPrimer)

IDs = pd.DataFrame({'id#': ids, 'Tm (°C)' : tms, 'seqPrimer' : seqPrimer}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (°C)']]
IDs

gene                                                  id#  Tm (°C) seqPrimer
ntng2b  0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18...       67   default
tbx2a   0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18...       67       idk

In [27]:
#
print(PCR.round(decimals=2).to_markdown())

|              |    1x |   ntng2b (n=40) |   tbx2a (n=48) |
|:-------------|------:|----------------:|---------------:|
| Water        |  3.33 |          146.67 |          176   |
| FWD          |  0.67 |           29.33 |           35.2 |
| REV          |  0.67 |           29.33 |           35.2 |
| M13-FAM      |  0.67 |           29.33 |           35.2 |
| PhusionMix2x |  6.67 |          293.33 |          352   |
| Total        | 12    |          528    |          633.6 |

In [21]:
print(IDs.to_markdown())

|        | id#                                                                                                                                   |   Tm (°C) | seqPrimer   |
|:-------|:--------------------------------------------------------------------------------------------------------------------------------------|----------:|:------------|
| ntng2b | 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39                         |        67 | default     |
| tbx2a  | 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47 |        67 | idk         |