DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [16]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + ' (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 72, #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                      'eml1⼆': 72,
                      'cpne3⼆': 72,
                      'cpne3_sa9988': 67,
                      'eml1_sa14062': 66,
                      'nrxn3a_sa11330': 67,
                      'nrxn3b_sa36960': 66,
#                       'syt5a': 00, #F and R primers that don't work NEB Tm = 61; 2020/02/03: tested 59 & 67: no bands; 62: extremely faint band
                      'syt5a': 62, #Fii and Rii New primers: NEB Tm = 62; 2020/02/03: tested 59 & 67: no bands; 62: extremely faint band
                      'gnat2': 67, #NEB Tm = 64; 2020/02/03: tested 62 and 67: both work;
                      'sema7a': 67, #NEB Tm = 62; 2020/02/03: tested 62 and 67: both work;
                      'efna1b': 70, #NEB Tm = 63; 2020/02/03: tested 59, 62 and 67: 3 extra bands at lower weight; tested 69: much cleaner
                      'tbx2a': 62, #NEB Tm = 59; 2020/06/26: tested 62 and 67: only 62 has good bands; 67 had weak bands in some samples, but not all;
                      'tbx2b': 62, #NEB Tm = 61; 2020/06/26: tested 62 and 67: only 62 has good bands; 67 had weak bands in some samples, but not all;
                      'ntng2': 62, #NEB Tm = 61; 2020/06/26: tested 62 and 67: only 62 has good bands; 67 had weak bands in some samples, but not all;
                     }
        self.Tm = tested_Tms.get(self.name, 'default')
        
        tested_seqPrimer = {'tjp2a': 'none', #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 'none' ,
                      'cadm1a': 'F',
                      'cadm1b': 'none',
                      'eml1': 'none',
                      'cpne3': 'none',
                      'nrxn3aS': 'none',
                      'nrxn3aL': 'none',
                      'nrxn3bS': 'none',
                      'nrxn3bL': 'none',
                      'eml1⼆': 'none',
                      'cpne3⼆': 'none',
                      'cpne3_sa9988': 'none',
                      'eml1_sa14062': 'none',
                      'nrxn3a_sa11330': 'R',
                      'nrxn3b_sa36960': 'none',
                      'syt5a':  'idk',
                      'gnat2': 'idk',
                      'sema7a': 'idk',
                      'efna1b': 'idk',
                      'tbx2a': 'idk',
                      'tbx2b': 'idk',
                      'ntng2': 'idk',
                     }
        self.seqPrimer = tested_seqPrimer.get(self.name, 'default')

def array2list(thearray):
    d=(",".join(map(str,thearray)))
    return d
# NORMAL Phusion
# volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
# MASTER MIX Phusion
volumes  = [5, 1, 1, 1, 10];
volumes = np.append(volumes,np.sum(volumes));
# volumes=np.ndarray.tolist(np.multiply(volumes,1/2)); # for Fo-screen and no sequencing plans
names = ['Water','FWD','REV','M13-FAM','PhusionMix2x','Total'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

### test PCR (half-volume reactions, no M13-FAM)
### NORMAL Phusion half-volume
# volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
# volumes=np.ndarray.tolist(np.divide(volumes,2))
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);
# OR
### MASTER MIX Phusion three quarters-volume no M13-FAM
# volumes  = [6, 1, 1, 10];
# volumes=np.ndarray.tolist(np.multiply(volumes,3/4))
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','FWD','REV','PhusionMix2x','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [7]:
genes=[];
# genes.append(gene('tjp2a',('2Si_1,2Si_2,2Sii_1,2Sii_2,21,22')));
# genes.append(gene('tjp2b',('21,22')));
# genes.append(gene('cadm1a',('1a,1b,1c,1d,1e,1f,2a,2b,2c,2d,2e,2f')));
# genes.append(gene('cadm1a',('2')));
# genes.append(gene('cadm1b',('19')));
# genes.append(gene('cpne3⼆',('1a,1b,2')));
# genes.append(gene('nrxn3a',('1,2')));
# genes.append(gene('nrxn3b',('1,2')));
# genes.append(gene('eml1⼆',('1a,1b')));
# genes.append(gene('cpne3⼆',('9a,9b,10a,10b,11a,11b,12,13a,13b')));
genes.append(gene('gnat2',('1,2,3,4,5,6')));
genes.append(gene('sema7a',('1,2')));
genes.append(gene('eml1⼆',('1,2,3,4')));

42

In [18]:
### For sequencing
# volumes  = [6, 1, 1, 10];

# ### MASTER MIX Phusion three quarters-volume no M13-FAM
# volumes=np.ndarray.tolist(np.multiply(volumes,3/4))

### MASTER MIX Phusion half-volume no M13-FAM
# volumes=np.ndarray.tolist(np.multiply(volumes,1/2))
# volumes = np.append(volumes,np.sum(volumes));
# names = ['Water','FWD','REV','PhusionMix2x','Total'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

#######
genes=[];
# genes.append(gene('cpne3⼆',('1E,1H,1WT')));
# genes.append(gene('cpne3_sa9988',(array2list(np.arange(1,25,1)))));
# genes.append(gene('tjp2a',(array2list(np.arange(1,25,1)))));
# genes.append(gene('eml1_sa14062',('1wt,2wt,3wt')));
# genes.append(gene('eml1_FR',(array2list(np.arange(9,13,1)))));
# genes.append(gene('eml1_FRii',(array2list(np.arange(9,13,1)))));
# genes.append(gene('eml1_FiiR',(array2list(np.arange(9,13,1)))));
# genes.append(gene('eml1_FiiRii',(array2list(np.arange(9,13,1)))));
# genes.append(gene('tjp2a_FR',(array2list(np.arange(17,21,1)))));
# genes.append(gene('tjp2a_FRii',(array2list(np.arange(17,21,1)))));
# genes.append(gene('tjp2a_FiiRii',(array2list(np.arange(17,21,1)))));
# genes.append(gene('NoDNA',(array2list(np.arange(0,1,1)))));
# genes.append(gene('Nothing',(array2list(np.arange(0,1,1)))));
# genes.append(gene('nrxn3a_sa11330',(array2list(np.arange(1,19,1)))));
# genes.append(gene('eml1⼆',(array2list(np.arange(1,13,1)))));
# genes.append(gene('nrxn3a_sa11330',(array2list(np.arange(0,40,1)))));
# genes.append(gene('nrxn3b_sa36960',(array2list(np.arange(1,17,1)))));
# genes.append(gene('cadm1a',(array2list(np.arange(1,43,1)))));
# genes.append(gene('nrxn3a_sa11330',(array2list(np.arange(1,8,1)))));

# genes.append(gene('nrxn3b_sa36960',('1wt,2wt,3wt')));
# genes.append(gene('cadm1a',('16B,10A,10B,10C,10D,10E,10F,10G,10H,10I,10J,10K,10L,10M,10N,10O,10P,10Q,10R,10S,10T')));
# genes.append(gene('tjp2a',('8D,8E,8F,8G,14G,14H,18F,18G,18H,18I,18wt,2A,2B,2C,2D,2E,2F,2G,2H,2I,2J,2K,2L,2M,2N,2O,2P,2Q,2R,2S,2T')));
# genes.append(gene('tjp2b',('8I,18I,18wt')));
# genes.append(gene('nrxn3aL',('7F,FG')));

genes.append(gene('sema7a',array2list(np.arange(0,8*2,1))));
genes.append(gene('gnat2',array2list(np.arange(0,8,1))));
genes.append(gene('syt5a',array2list(np.arange(0,8*4,1))));
genes.append(gene('efna1b',array2list(np.arange(0,8*3,1))));
genes.append(gene('syt5a',array2list(np.arange(0,8*2,1))));


PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = round(pd.Series(PCR['1x'] * (g.n*1*1.1)),2)
PCR.columns.name = '-'
PCR

-,1x,sema7a (n=16),gnat2 (n=8),syt5a (n=32),efna1b (n=24),syt5a (n=16)
Water,2.5,44.0,22.0,88.0,66.0,44.0
FWD,0.5,8.8,4.4,17.6,13.2,8.8
REV,0.5,8.8,4.4,17.6,13.2,8.8
M13-FAM,0.5,8.8,4.4,17.6,13.2,8.8
PhusionMix2x,5.0,88.0,44.0,176.0,132.0,88.0
Total,9.0,158.4,79.2,316.8,237.6,158.4

In [5]:
24+16

40

In [4]:
# PCR table for fragment analysis screen (8 larvae per founder)
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.1),1))
PCR.columns.name = '-'
PCR

-             1x  gnat2 (n=6)  sema7a (n=2)  eml1⼆ (n=4)
Water          5        264.0          88.0        176.0
FWD            1         52.8          17.6         35.2
REV            1         52.8          17.6         35.2
M13-FAM        1         52.8          17.6         35.2
PhusionMix2x  10        528.0         176.0        352.0
Total         18        950.4         316.8        633.6

In [19]:
names = [];
ids = [];
tms = [];
seqPrimer =[];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)
    seqPrimer.append(g.seqPrimer)

IDs = pd.DataFrame({'id#': ids, 'Tm (°C)' : tms, 'seqPrimer' : seqPrimer}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (°C)']]
IDs

gene                                                  id#  Tm (°C) seqPrimer
sema7a              0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15       67       idk
gnat2                                     0,1,2,3,4,5,6,7       67       idk
syt5a   0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18...       62       idk
efna1b  0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18...       70       idk
syt5a               0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15       62       idk

In [9]:
#Need to create html output into a letter sized
PCR.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>-</th>\n      <th>1x</th>\n      <th>tjp2a\n (n=1)</th>\n      <th>tjp2b\n (n=1)</th>\n      <th>cadm1a\n (n=2)</th>\n      <th>cadm1b\n (n=2)</th>\n      <th>nrxn3aL\n (n=1)</th>\n      <th>nrxn3bL\n (n=1)</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Water</th>\n      <td>5</td>\n      <td>42.0</td>\n      <td>42.0</td>\n      <td>84.0</td>\n      <td>84.0</td>\n      <td>42.0</td>\n      <td>42.0</td>\n    </tr>\n    <tr>\n      <th>FWD</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>REV</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>M13-FAM</th>\n      <td>1</td>\n      <td>8.4</td>\n      <td>8.4</td>\n      <td>16.8</td>\n      <td>16.8</td>\n      <td>8.4</td>\n      <td>8.4</td>\n    </tr>\n    <tr>\n      <th>PhusionMix2x</th>\n      <td>10</td>\n      <td>84.0</td>\n      <td>84.0</td>\n      <td>168.0</td>\n      <td>168.0</td>\n      <td>84.0</td>\n      <td>84.0</td>\n    </tr>\n  </tbody>\n</table>'

In [10]:
IDs.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>gene</th>\n      <th>Tm (°C)</th>\n      <th>id#</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>tjp2a</th>\n      <td>72</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>tjp2b</th>\n      <td>64</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>cadm1a</th>\n      <td>64</td>\n      <td>16, 17</td>\n    </tr>\n    <tr>\n      <th>cadm1b</th>\n      <td>67</td>\n      <td>16, 17</td>\n    </tr>\n    <tr>\n      <th>nrxn3aL</th>\n      <td>72</td>\n      <td>17</td>\n    </tr>\n    <tr>\n      <th>nrxn3bL</th>\n      <td>72</td>\n      <td>17</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
a=np.arange(9,16)
print(a)

[ 9 10 11 12 13 14 15]

In [6]:
np.arange?