DNA lysis

###### Phusion PCR setup:
    DNA (1:10) dilution = 2 uL
    Water = 10.4 uL
    F primer (10 uL) = 1 uL
    R primer (10 uL) = 1 uL
    M13-FAM primer (10 uM) = 1 uL
    Phusion polymerase = 0.2 uL
    5x buffer = 4 uL
    dNTP mix = 0.4 uL

In [1]:
import numpy as np
import pandas as pd

class gene:
    def __init__(self, gene_name, id_numbers):
        self.name = gene_name
        self.ids = id_numbers
        self.n = len(self.ids.split(','))
        self.string = self.name + '\n (n='+ str(self.n) + ')'
        
        tested_Tms = {'tjp2a': 72, #inconsistent results here. Should order new primers. On 2017/06/07, bands present with 72C.
                      'tjp2b': 64 ,
                      'cadm1a': 64, #tested 67C on 2017/03/30 and bands disappeared
                      'cadm1b': 67,
                      'eml1': 67,
                      'cpne3': 67,
                      'nrxn3aS': 72,
                      'nrxn3aL': 72,
                      'nrxn3bS': 72,
                      'nrxn3bL': 72,
                     }
        self.Tm = tested_Tms.get(self.name, 'default')
# NORMAL Phusion
# volumes  = [10.4, 4, 0.4, 1, 1, 1, 0.2];
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','M13-FAM','Phusion'];
# MASTER MIX Phusion
volumes  = [5, 1, 1, 1, 10];
names = ['Water','FWD','REV','M13-FAM','PhusionMix2x'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);

In [2]:
genes=[];
genes.append(gene('tjp2a',('6, 9, 13')));
genes.append(gene('tjp2b',('6, 9, 13')));
genes.append(gene('cadm1a',('13, 14')));
genes.append(gene('cadm1b',('13, 14')));
genes.append(gene('nrxn3aL',('9, 10, 11, 12, 13, 14, 15, 16')));
genes.append(gene('nrxn3bL',('9, 10, 11, 12, 13, 14, 15, 16')));

# genes.append(gene('tjp2b',('8, 9, 11')));
# genes.append(gene('cadm1a',('10, 11, 12')));
# genes.append(gene('cpne3',('11')));

In [8]:
# test PCR (half-volume reactions, no M13-FAM)
# NORMAL Phusion
# volumes  = [11.4, 4, 0.4, 1, 1, 0.2];
# volumes=np.ndarray.tolist(np.divide(volumes,2))
# names = ['Water','Buffer5x','dNTP mix','FWD','REV','Phusion'];
# PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);
# MASTER MIX Phusion
volumes  = [6, 1, 1, 10];
volumes=np.ndarray.tolist(np.multiply(volumes,3/4))
names = ['Water','FWD','REV','PhusionMix2x'];
PhusionDefault = pd.DataFrame(data=volumes, index=names, columns=['1x']);


genes=[];
genes.append(gene('cadm1a',('11C')));
genes.append(gene('cadm1b',('11D')));
genes.append(gene('tjp2a',('7B,7G,7H,8A,8E,8F,8G,8H,9B,11D,11F,12F,12G')));
genes.append(gene('nrxn3aL',('7F,FG')));


PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*1*1.05),1))
PCR.columns.name = '-'
PCR

-,1x,cadm1a (n=1),cadm1b (n=1),tjp2a (n=13),nrxn3aL (n=2)
Water,4.50,4.950,4.950,61.650,9.450
FWD,0.75,0.825,0.825,10.275,1.575
REV,0.75,0.825,0.825,10.275,1.575
PhusionMix2x,7.50,8.250,8.250,102.750,15.750

In [10]:
volumes

[4.5, 0.75, 0.75, 7.5]

In [7]:
PCR = pd.DataFrame.copy(PhusionDefault)
for g in genes:
    PCR[g.string] = pd.Series(PCR['1x'] * round((g.n*8*1.05),1))
PCR.columns.name = '-'
PCR

-,1x,cadm1a (n=1),cadm1b (n=1),tjp2a (n=13),nrxn3aL (n=2)
Water,4.50,37.8,37.8,491.4,75.6
FWD,0.75,6.3,6.3,81.9,12.6
REV,0.75,6.3,6.3,81.9,12.6
PhusionMix2x,7.50,63.0,63.0,819.0,126.0

In [9]:
names = [];
ids = [];
tms = [];
for g in genes:
    names.append(g.name)
    ids.append(g.ids)
    tms.append(g.Tm)

IDs = pd.DataFrame({'id#': ids, 'Tm (째C)' : tms}, index=names)
IDs.columns.name = 'gene'
#IDs[['id#','Tm (째C)']]
IDs

gene     Tm (째C)                                         id#
cadm1a        64                                         11C
cadm1b        67                                         11D
tjp2a         72  7B,7G,7H,8A,8E,8F,8G,8H,9B,11D,11F,12F,12G
nrxn3aL       72                                       7F,FG

In [ ]:
#Need to create html output into a letter sized
PCR.to_html()

In [ ]:
IDs.to_html()

In [5]:
a=np.arange(9,16)
print(a)

[ 9 10 11 12 13 14 15]

In [6]:
np.arange?